<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body>
    <h1 id="timer">00:00:00</h1>
    <h1 id="total">00:00:00</h1>
    <div style="width: 400px; display: flex; margin: 2rem 0 2rem 3rem">
      <input
        style="width: 50px; font-size: 20px"
        type="text"
        aria-label="time"
        class="form-control"
        id="countDownHours"
        value="05"
      />
      <h2>:</h2>
      <input
        style="width: 50px; font-size: 20px"
        type="text"
        aria-label="time"
        class="form-control"
        id="countDownMinutes"
        value="45"
      />
      <h2>:</h2>
      <input
        style="width: 50px; font-size: 20px"
        type="text"
        aria-label="time"
        class="form-control"
        id="countDownSeconds"
        value="05"
      />
    </div>

    <button type="button" class="btn btn-success" id="startCounter">
      Start
    </button>
    <button type="button" class="btn btn-danger" id="stopCounter">Stop</button>
    <button type="button" class="btn btn-info" id="saveCounter">Save</button>
    <button type="button" class="btn btn-secondary" id="resetCounter">
      Reset
    </button>

    <!-- Optional JavaScript -->
    <ul id="history"></ul>
    <script src="/js/main_script.js"></script>
    <script src="/node_modules/axios/dist/axios.min.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
